/* .filmssection {
  flex: 1;
  background-color: lightblue;
  padding: 20px;
}

.filmssection h2 {
  margin-top: 0;
}

.filmssection ul {
  list-style: none;
  padding: 0;
}

.filmssection li {
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.filmssection li:hover {
  background-color: lightgray;
} */
.availablefilms {
  display: flex;
}

.filmssection {
  flex: 1 0 40%;
  background-color: lightblue;
  padding: 20px;
}

.detailssection {
  flex: 1 0 50%;
  background-color: lightgreen;
  padding: 20px;
}

.movieinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movieinfo img {
  max-width: 200px;
}

.filmssection h2 {
  margin-top: 0;
}

.filmssection ul {
  list-style: none;
  padding: 0;
}

.filmssection li {
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.filmssection li:hover {
  background-color: lightgray;
}
